.bg-dashboard {
  background-color: #F5F5F5;
}

.p-y-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.q-icon {
  color: #212121;
}

.gap-32 {
  gap: 32px;
}

.bg-avatar {
  background-color: #3B3B3B;
}

.custom-input {
  & .q-field__control {
    min-width: 640px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #3b3b3b;
    padding-left: 24px;
  }

  & .q-field__prepend {
    height: 100%;
  }
}

.q-page-container {
  padding-left: 508px !important;

  & .q-page {
    background-color: white;
    padding-top: 55px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
